<span class="quiet">
	<small><%=	link_to ingredient.name, ingredient_path(ingredient), 'data-toggle' => 'tooltip', 'data-placement' => 'top', title: "See all recipes including #{ingredient.name} as ingredient."  %> </small>
</span> 
