// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments-section {
	display :none; /* isso vai esconder por padrão a area de comentarios */
}


ol#comments {
	font-size: 1em;
	list-style: none;
	padding: 0;

	li{
		margin: 1em 0;
		.date {
			font-size: 1em;
			font-weight: bold;
			color: black;
		}
		p{
			margin: 0;
			font-size: 1em;
		}

	}
}
