$navbar-default-bg: #CD3700; 
$gray71: #9C9C9C;
/* $navbar-default-color: $gray71; */
$orange-red3: #CD3700;

@import "bootstrap-sprockets";
@import "bootstrap";

* { /* Everything now is harp, I mean, everything */
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

#logo{
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	font-size: 2em;
	color: #fff;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

#logo:hover{
	color: white;
	text-decoration: none;
}

.navbar{
  margin-bottom: -1px; /* igualando Jumbotron*/
  border-color: $orange-red3;
}

/* 
.nav_item {
	margin-left: 25px;
	float: left;
	margin-top: 20px;
}
*/
.center {
	text-align: center;
}

h1, h2, h3 {
	line-height: 1;
}
h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}
h2{
	font-size: 1.2em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #777; 
}

.jumbotron>h2{
	color: white;
}
.left {
	text-align: left;
	letter-spacing: .5px;
}

.footer {
	margin-top: 25px;
	border-top: 1px solid black; 
}
.btn-warning {/* preguiça... */
	background: $orange-red3;
	border-color: $orange-red3;
	&:hover{
		background: darken($orange-red3, 15%);
		border-color: darken($orange-red3, 15%);
	} 	
}
.container >.navbar-header > a {
	color: white;
	&:hover{
		color: black;
		font-style: bold;
	}
}
.navbar-default .navbar-nav > li > a {
	color: white;
	&:hover{
		color: black;
		font-style: bold;
	} 
}
/*
body {
	padding-top: 80px; -- Descendo o body 
} 
*/
.chef_info{
	margin-top: 20px;
}

.gravatar{
	border-radius: 10px;
}

.well{
	background-color: #ededed; 
}

input, textarea, select, .uneditable-input {

	border: 1px solid #d2d2d2;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 15px;

} 
.input {
	height: auto !important;
}

.btn-space {
  margin-right: 10px; // Espaço entre botões, ao usar btn-group
}

.btn-space-top {
  margin-top: 10px; // Espaço entre botões, ao usar btn-group
}


span.picture {
	margin-top: 10px;
	input{
		border: 0; 
	}
}

.show_recipe{
	margin: 10px 10px 10px 10px;
}
/* Tirar a linha que fica sublinhando o link do like/dislake */
.without_link_underline a{
		// color: #FFFFFF;
    text-decoration: none;
}



