$brand-primary: #532F8C;
$brand-language: #B01302;
$brown: #312312;
$dark-orange: #FF8C00;
$orange-red3: #CD3700;
$yellow2: #EEEE00;
$forest-green: #228B22;

.jumbotron {
  background: $orange-red3;
  color: white;
  padding-bottom: 80px;


  .btn-primary {
    background: lighten($forest-green, 10%);
    border-color: lighten($forest-green, 10%);
    &:hover {
      background: $forest-green;
      border-color: $forest-green;
      /* Deixando mais claro:  */
      /* background: lighten($forest-green, 15%); */
    }
  }

  p {
    color: lighten($brand-primary, 50%);
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + & {
    margin-top: -20px;
  }

  .lang-logo {
    display: block;
    background: $brand-language;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
    img {
      max-width: 100%;
    }
  }

}

