<h1>All Recipes</h1>

<% @recipes.each do |recipe| %>
	<div class="row">
		<div class="col col-md-2">
			<section class="chef_info center">
				
			</section>
		</div>
		<!-- Recipe content -->
		<div class="col col-lg-8 well">	
			sss
		</div>

	</div>		
<% end %>	
